@import 'libs/variables';
@import 'libs/normalize';
// @import 'utils/all';

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro-Black.ttf") format("truetype");
    font-weight: 900;
}


* {
    font-family: "DINPro";
}

html {
    font-size: 14px;
    font-size: calc(12px + 0.5vw);
}

body {
    overflow: hidden;
}

#root {
    overflow: hidden;
}


// универсальная обертка для всех страниц
.wrapper {

    color: $black;
    width: 100vw;
    height: 100vh;
    overflow: auto;

    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    &--main {
        background-color: $amber400;
    }

    &--skills {
        background-color: $lightgreen400;
    }

    &--projects {
        background-color: $blue50;
    }

    &--contacts {
        background-color: $purple50;
    }

}