@import 'libs/variables';
@import 'libs/normalize';
// @import 'utils/all';

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "DINPro";
    src: local("DINPro"), url("../fonts/DINPro-Black.ttf") format("truetype");
    font-weight: 900;
}


* {
    font-family: "DINPro";
}


.wrapper {

    color: $black;
    width: 100vw;
    height: 100vh;

    position: relative;

    &--main {
        background-color: $amber400;
    }

    &--skills {
        background-color: $lightgreen400;
    }

    &--projects {
        background-color: $blue50;
    }

    &--contacts {
        background-color: $purple50;
    }


    // &__top { 

    // }


}